    <h1>Sample App</h1>
    <p>
	Ruby on Rails tutorial is a project to make a book and screencasts to teach web development. It is very good and I'd recommend buying the book. This is a sample app for that tutorial.
    </p>
